@model GAeropuerto.Models.Vuelo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vuelo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroVuelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroVuelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVuelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVuelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAvionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAvionNavigation.IdAvion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPilotoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPilotoNavigation.IdPiloto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVuelo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
